@model IEnumerable<ConsultaCep.Web.Models.ContaModel>
@{
    ViewData["Title"] = "Listagem de Contas ";
}

<div class="container p-4 border">
    <div class="row pb-3">
        <div class="col">
            <h1 class="text-primary">Listagem de Contas </h1>
        </div>
        <div class="col text-end pt-3">
            <a asp-action="Create" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i> Criar Nova Conta
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Descricao</td>
                        <td>
                            <a asp-action="Detail" class="btn btn-info" asp-route-id="@item.Id" title="Visualizar Conta"><span class="fa fa-search"></span></a>
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id" title="Alterar Conta"><span class="fa fa-pencil-alt"></span></a>
                            <a id="deleteItem" class="deleteItem btn btn-danger" data-bs-target="#basicModal" data-bs-toggle="modal" data-path="@Url.Action("Delete", "Conta", new { id = item.Id })" title="Deletar"><span class="fa fa-trash" /></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="../Shared/_Delete" />

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/deleteItemScript.js"></script>    
}